@import "mixins";
@import "grid";
* {
  margin: 0px auto;
  padding: 0px;
  font-family: 'Inconsolata', monospace;
  background-color: black;
}

.basicInfo {
  p {
    font-size: 40px;
  }
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: center;
}

.afterSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;

}

.analyze {
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  color: white;

  p {
    &.danceability {
      margin-top: 50px;
    }
    &.audio {
      font-size: 24px;
      text-align: center;
      margin: 10px;
    }
  }
}

p {
  font-size: 15px;
}

.row {
  margin: 20px;
  height: 215px;
}

.audioName {

  display: flex;
  justify-content: center;
  align-items: center;
  p {
    opacity: 1;
    font-size: 18px;
  }

}


.audioFeature {

  box-sizing: border-box;

  p {
    opacity: 0;
  }

  p:hover {
    opacity: 1;
    font-size: 14px;
    //background-color: darkorange;
  }
}

.searchBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input {
  color: white;
}

.get_artist {
  width: 200px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

.search_artist {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100px;
  height: 30px;

}

.source {
  display: flex;
  justify-content: flex-end;
  color: white;
  font-size: 10px;
  height: 15px;
  p {
    opacity: 0;
  }
  p:hover {
    opacity: 1;
  }
}


